doctype html
html(lang="en")
  head
    title Email Template
  body
    h1 Hello my name is #{name}!
    p My question is #{question}
    p #{letter}
    hr
    p My number #{phone}
    p My email #{email}